$fontColor: #0091aa;
$colorHeading: #333;
#content  // div with id: content
{
    color: $fontColor;
    margin-left: 25px;
    background-color:#bfffc0 ;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right:25px;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

.val{
font-size:20px;

}

.chart{
  font-size:25px;
  color:#333;
  background-color: #4CAF50;
  height:35px;
  text-align:center;
  border-radius: 5px;
  box-shadow: 1px 1px;
  line-height: 27px;
  
}

body{

background-color:#7ccc7e;

}
.topnav {
    margin-left: 20px;
    background-color: #333;
  margin-right:20px;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  //  background-color: #4CAF50;
    color: white;
  }

  #buttonDiv{
height:50px;
width:50px;
//background-color: #4CAF50;


  }

  .Title{
    padding-top:15px;
    padding-left: 1300px;
    font-size: large;
    color: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }